* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
nav{
    text-align: center;
    background-color: rgb(155, 176, 247);
    width: 100%;
}
.container{
	background-image: url(Captura.PNG);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
	text-align: center;
}
.menu{
	display: flexbox;
	flex-wrap: wrap;
	list-style: none;
	flex: auto;
}
.menu li{
	position: relative;
	display: inline-block;
}

.menu li:hover ul{
	display: block;
}

.menu li ul{
	display: none;
	position: absolute;
	background-position: 2px;
	background-color: rgb(155, 176, 247,0.8);
	border-radius: 10px;
}

.menu ul li a{
	display: block;
	text-decoration: none;
	color: black;
}

.menu ul li a:hover{
	border-radius: 10px;
	background-color: blue;
	color: white;
	transition: 0.5s;
    border-radius: -5px;
}

.menu li a{
	text-decoration: none;
	padding: 10px;
	color: black;
}